@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4"><img src="img/LOGO.png" alt="X-COM Logo"></h1>
    <p>This webapp was created to crowdsource information about unidentified flying objects, colloquially known as UFOs.
        If you or anyone you know have encountered UFOs, extraterrestrials or experienced events of an otherworldly nature, 
        please do not hessitate to contact us.
    </p>
    
    
</div>
